[submodule "vim/pack/my-plugins/start/vim-compilers"]
	path = vim/pack/Konfekt/start/vim-compilers
	url = https://github.com/Konfekt/vim-compilers.git
[submodule "vim/pack/my-plugins/start/vim-surround"]
	path = vim/pack/tpope/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/tpope/start/vim-repeat"]
	path = vim/pack/tpope/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/pack/dmerejkowsky/start/vim-ale"]
	path = vim/pack/dmerejkowsky/start/vim-ale
	url = https://github.com/dmerejkowsky/vim-ale.git
[submodule "vim/pack/tpope/start/vim-unimpaired"]
	path = vim/pack/tpope/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
